{% extends "base.html" %}

{% block konten %}

<div class="container"><!--ini container ini berguna agar isi webnya di tengan -->
    <div class="jumbotron"><!--jumbroton ini akan di edit fi file style.css yang ada di dalam forder static dan di dalam folder css-->
        <h1 class="display-4">Halo.......</h1>
        <p class="lead">ini adalah website dari hasil belajar di mata kuliah pemograman web</p>
        <hr class="my-4">
        <p>akhirnya setelah banyar eror jadi juga :,)</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </div>
    
</div>

{% endblock %}